
.div-log
{
  width: 30%;
    height: 70%;
    left: 30%;
   text-align: center;
    border: 0.5px solid;
    border-radius: 8px;
    position: absolute;
   margin-top: 10%;
   padding-top: 15px;

}
#text-log
{
width: 300px;
 height: 25px;
}
h2{
  font: italic bold 30px Georgia, serif;
  color: dodgerblue;
 
}

h5{
  font: italic 20px Georgia, serif;
  margin-top: 10px;
}
.h-div-log-in
{
  margin-bottom: 10px;
}
#button-sigin
{
  font-size: 13px;
 margin-left:50px ;
  background-color:#1a73e8;
  width: 200px;
}

@media (max-width:1030px)
{
 #text-log
{
width: 200px;
 height: 15px;
}

#button-sigin
{
  font-size: 10px;
 margin-left:20px ;
  background-color:#1a73e8;
  width: 100px;
}
}

@media (max-width:850px)
{
 #text-log
{
width: 50px;
 height: 12px;
}

#button-sigin
{
  font-size: 10px;
 margin-left:0px ;
 margin-right: 20px;
  background-color:#1a73e8;
  width: 50px;
  
}
}