
*{
    padding: 0px;
    margin:0px;
  }
  
  #button-sigin
  {
    padding-right: 50px;
  }
  
  .div-log-in
  {
    width: 60%;
    height: 65%;
    left: 20%;
   text-align: center;
   border:1px solid#d3d3d3 ;
    border-radius: 8px;
    position: absolute;
   margin-top: 10%;
   padding-top: 15px;
  }
  #text-log-in
  {
  width: 300px;
  height: 5px;
  }
  #text-log-userName
  {
    width: 650px;
  }
  
  h2{
    font: italic bold 30px Georgia, serif;
    color: dodgerblue;   
  }
  
  h5{
    font: italic 20px Georgia, serif;
    margin-top: 10px;
  }
  .h-div-log-in
  {
    margin-bottom: 10px;
  }
 
  .email
  {
     
      color: wheat;
    
    
  }
  #link-forget
  {
   color: dodgerblue;
   padding: 10px;
   font: 25 bold;
  }
  .div-log-forget
  {
    padding-top: 40px;
  }
  #label-item
  {
    font: 15;
  }

  #service-type
  {
   position: relative;
   left: 23%;
}
  .div-log-forget
  {
      padding-right: 200px;
      height: 33px;
      padding-left: 50px;
        
  }
  @media (max-width:950px)
  {
    #text-log-in{
      width: 100px;
      height: 15px;
    }
   
  }
  @media (max-width:700px)
  {
   
    #text-log-userName
    {
      width: 200px;
      height: 15px;
    }
  }
  #service-type
  {
    left: 0px;
  }



/*   
.wrapper {
  width: 80%;
  height: 500px;
  margin-left: 80px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
  border:2px solid rgba(44, 44, 44, 0.068);
}

.leftDiv
{
  width: 80%;
   height: 100%;
   background-color: rgb(255, 255, 255)

}

#outlined-basic1
{
  height: 15px;
}
#SignUpButton
{
  margin-left: 10%;
}

.firstname
{
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  margin-right: 18%;
}

.LastName
{
position: absolute;
left: 40%;
top:10%;
font-size: 5%;
}

.username
{
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
 background-color: rgb(255, 255, 255);
  font-size: small;
}

.Password
{
  margin-top: 4%; 
  margin-left: 5%; 
  margin-bottom: 5%;
}

.ServiceType
{
  margin-left: 3%; 
  margin-bottom: 2%;
}

.button
{
  margin-left: 5%;
  width: auto;
  color: blue;
}


@media (max-width:950px)
{
  .EmailOrPhone{
    width: 100px;
    height: 15px;
  }

  .Password
  {
    width: 100px;
    height: 15px;
  }
.forgot{
  width: 100px;
    height: 15px;
}
  #buttonSignIn
  {
    width: 100px;
    height: 15px;
  }
} */
